* {
  box-sizing: border-box;
}

body {
  text-align: center;
}

header {
  display: flex;
  align-items: center;
  justify-content: center;
}

/* #user-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  input {
    min-width: 200px;
    padding: 5px;
    border-radius: 5px;
    margin-top: -10px;
    border: 1px solid #353535;
  }
} */

main {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}

button {
  border: none;
  padding: 10px 15px;
  min-width: 100px;
  margin-top: 15px;
  border-radius: 10px;
  color: #353535;
  font-weight: bold;

  &:hover {
    cursor: pointer;
  }
}
button:first-child {
  background-color: rgb(251, 73, 117);
}
button:nth-child(2) {
  background-color: rgb(255, 216, 90);
}
button:nth-child(3) {
  background-color: rgb(102, 201, 211);
}
#playAgain {
  display: none;
}

.disabled {
  opacity: 0.5;
}

#moves {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 10px;
  img {
    width: 40px;
    height: 40px;
  }
  .move {
    flex-direction: column;
    padding: 0 15px;
  }
  .hide {
    display: none;
  }
}
